* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  background: #ccc;
}

article {
  width: 210mm;
  height: 297mm;
  margin: 20px auto;
  position: relative;

  background: 
  url(top-image.png) top center no-repeat, 
  url(bottom-image.png) bottom center no-repeat,
  linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(0,0,0,0.2) 100%) top center / 100% 30% no-repeat,
  linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(0,0,0,0.2) 100%) bottom center / 100% 30% no-repeat,
  white;

  border-block-start: 1mm solid crimson;
  border-block-end: 1mm solid crimson;
}

address {
  position: absolute;
  bottom: 8mm;
  right: 20mm;
}

h1 {
  position: absolute;
  top: 12mm;
  left: 20mm;
  width: 128px;
  height: 128px;
  font-size: 20px;
  letter-spacing: 1px;
  text-align: center;
  padding: 44px 0;
  color: white;
  text-shadow: 1px 1px 1px black;

  background-image: url(logo.png);
  filter: drop-shadow(0 0 0.75rem black);
}

/* Your CSS below here */